<section class="gundi" >
    <div class="tMshromlebi" *ngFor="let gundi of gundiList">
      <div class="backMshromlebi">
        <div class="portret">
          <img data-aos="fade-up" class="sizeB3" [src]="getSafeUrl('https://bk.akhalisakhli.com/api/v1/admin-panel/get-page-img/'+gundi.id+'.jpg')" alt="service image" />

        </div>
        <div class="txt " *ngIf="isGeorgian">
          <h1 data-aos="fade-left" class="saxel">{{gundi.name}}</h1>
          <h1 data-aos="fade-left" class="gvari">{{gundi.surname}}</h1>
          <h2 data-aos="fade-left" class="pozicia">{{gundi.position}}</h2>
        </div>
        <div class="txt" *ngIf="!isGeorgian">
          <h1 data-aos="fade-left" class="saxel">{{gundi.nameEn}}</h1>
          <h1 data-aos="fade-left" class="gvari">{{gundi.surnameEn}}</h1>
          <h2 data-aos="fade-left" class="pozicia">{{gundi.positionEn}}</h2>
        </div>
      </div>
    </div>
</section>
