.gundi {
  width: 100%;
  padding-bottom: 150px;
  .tMshromlebi {
    margin-top: 120px;
    &:nth-child(even) {
      background-image: url(../../assets/pics/SVG/pattern.svg);
      background-attachment: fixed;
      background-size: 100%;
    }
    &:nth-child(odd) {
      background-image: url(../../assets/pics/SVG/backPatern.svg);
      background-attachment: fixed;
      background-size: 100%;
    }
    width: 100%;
    height: 450px;
    .backMshromlebi {

      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      display: flex;

      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      .portret {
        width: 40%;
        position: relative;
        height: 100%;
        img {
          position: absolute;
          height: 100%;
          right: 0;
          scale: 1.4;
        }
      }
      .txt {
        width: 60%;
        position: relative;
        margin-top: 150px;
        h1,
        h2 {
          font-size: 2rem;
          margin: 0 150px;
          color: white;
          font-family: "ALK Sanet", sans-serif;
        }
        h1 {
          letter-spacing: 2px;
          margin-top: 10px;
        }
        h2 {
          margin-top: 30px;
          font-weight: 100;
          font-size: 1.5rem;
        }
      }
    }
    &:nth-child(even) .backMshromlebi {
      flex-direction: row-reverse;
      .portret {
        img {
          left: 0;
        }
      }
      .txt {
        h1,
        h2 {
          text-align: end;
          color: black;
        }
      }
    }
  }
}

.shortcut {
  padding-top: 130px;
  width: 90%;
  position: relative;
  margin-left: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  bottom: 20px;
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      background-color: var(--black-v5);
      border-radius: 10px;
      padding: 5px 10px;
      font-size: clamp(0.6rem, 1.2vw, 1rem);
      text-wrap: nowrap;
      transition: 0.2s;
      font-family: "BPG Banner ExtraSquare", sans-serif;

      &:hover {
        padding: 9px 10px;
      }
    }
  }
}

@media only screen and (max-width: 771px) {
  .gundi {
    .tMshromlebi {

      height: 400px;
      .backMshromlebi {
        background-size: 400%;
        background-repeat: repeat;
        .portret {
          width: 40%;
          position: relative;
          height: 100%;
          img {
            position: absolute;
            width: 150px;
            right: 0;
            height: auto;
            scale: 1.4;
          }
        }
        .txt {
          transform: translateY(-50px);
          width: 60%;
          position: relative;
          margin-top: 150px;
          h1,
          h2 {
            font-size: 1.5rem;
            margin: 0 150px;
            color: white;
            font-family: "ALK Sanet", sans-serif;
          }
          h1 {
            letter-spacing: 2px;
            margin-top: 10px;
          }
          h2 {
            margin-top: 30px;
            font-weight: 100;
            font-size: 1rem;
          }
        }
      }
      &:nth-child(even) .backMshromlebi {
        flex-direction: row-reverse;
        .portret {
          img {
            left: 0;
          }
        }
        .txt {
          h1,
          h2 {
            text-align: end;
            color: black;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 588px) {
    .gundi {
      .tMshromlebi {
        height: 130px;
        .backMshromlebi {
          background-size: 200%;
          height: 130px;
          .portret {
            height: 130px;
            width: 40%;
            position: relative;
            img {
              position: absolute;
              height: auto;
              width: 80px;
              scale: 1.4;
            }
          }
          .txt {
            transform: translate(30px, -70px);
            width: 40%;
            position: relative;
            h1,
            h2 {
              font-size: clamp(1.5rem, 2.5vw, 2rem);
              color: white;
              font-family: "ALK Sanet", sans-serif;
              position: relative;
              margin: 0;
              padding: 0;
            }
            h1 {
              font-size: 1rem;
              letter-spacing: 2px;
              margin-top: 10px;
            }
            h2 {
              margin-top: 30px;
              font-weight: 100;
              font-size: 0.7rem;
            }
          }
        }
        &:nth-child(even) .backMshromlebi {
          .txt {
            transform: translate(-30px, -70px);
            right: 0;
            h1,
            h2 {
              text-align: end;
              color: black;
            }
          }
        }
      }
    }
  }
}
