<app-header></app-header>
<ul class="shortcut">
  <li><a [routerLink]="['/services/proektireba']">პროექტირება</a></li>
  <li><a [routerLink]="['/services/mshenebloba']">მშენებლობა</a></li>
  <li><a [routerLink]="['/services/interieri']">ინტერიერის დიზაინი</a></li>
  <li><a [routerLink]="['/services/remonti']">რემონტი</a></li>
  <li><a [routerLink]="['/services/landshafti']">ლანდშაფტის დიზაინი</a></li>
</ul>
<router-outlet ></router-outlet>
<app-float-contact></app-float-contact>
<app-footer class="foot"></app-footer>
