header {
  width: 100%;
  background-color: var(--black-tr);
  position: fixed;
  backdrop-filter: blur(3px);
  z-index: 1000;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 10px 0;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo,
.logo img {
  width: 180px;
}
.list {
  transform: translateX(-50px);
  display: flex;
  gap: 20px;
}
.list li {
  margin-left: 20px;
  transition: 0.3s;
  list-style: none;
  position: relative;
}
.list a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}
.list a {
  font-family: "ALK Sanet", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  position: relative;
}

ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
  line-height: 1.5;
}

ul li a:hover {
  transform: scale(1.2);
  opacity: 1;
  filter: blur(0);
  text-decoration: none;
  color: black;
}

ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: white;
  transition: 0.3s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

ul li a:hover:before {
  transition: transform 0.3s;
  transform-origin: left;
  transform: scaleX(1);
}

.submenu1, .submenu2 {
  text-align: center;
  visibility: hidden;
  opacity: 0;
  width: 100%; /* Make the submenu the same width as the parent li */
  position: absolute;
  transition: all 0.2s ease;
  margin-top: 1rem;
  top: 100%; /* Adjust top to 100% to position below the parent li */
  z-index: 2001;
  left: 0;
  border-radius: 3px;
  background-color: var(--black-tr);
  li {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    a {
      font-size: 0.8rem;
    }
  }
}

ul li:hover .submenu1, ul li:hover .submenu2 {
  visibility: visible;
  opacity: 1;
}



.lang{
  width: 50px;
  padding: 5px;
  z-index: 1205;
  right: 1%;
  top: 35px;

  position: absolute;
  border-radius: 3px;
  background-color: var(--black-tr);
  color: white;
}
.lango{
  width: 50px;
  padding: 5px;
  z-index: 1205;
  border-radius: 3px;
  background-color: var(--black-tr);
  color: white;
}



//responsive

.mobile-menu-button {
  display: none;
  z-index: 1200;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-menu.closing {
  /* Add fade-out animation */
  animation: fadeOutDown 0.5s ease forwards;
}

/* Define the fade-out animation keyframes */
@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px); /* Move the menu down when fading out */
  }
}
.mobile-menu-button.open .middle {
  opacity: 0;
}
.mobile-menu-button.open .top {
  transform: rotate(45deg);
}
.mobile-menu-button.open .buttom {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 588px) {
  .lang{
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between; /* Ensure the button is on the right */
  }

  .mobile-menu-button {
    z-index: 1200;
    display: flex; /* Display the button on smaller screens */
    cursor: pointer;
    background-color: transparent;
    border: none;
    gap: 8px;
    flex-direction: column;
  }
  .line {
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform-origin: left;
    transition: transform 0.5s ease;
  }
  .list {
    display: none; /* Hide the default list on small screens */
  }

  .mobile-menu {
    z-index: 1200;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--black-tr);
    padding: 20px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s ease forwards;
  }

  .listo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .listo li {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
  }
  .listo a {
    font-size: 2rem;
  }
  .listo li a{
    font-family: "ALK Sanet", sans-serif;
  }
}
@media only screen and (max-width: 768px) {
  .lang{
    display: none;
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Ensure the button is on the right */
  }
  nav {
    gap: 40%;
  }
  .mobile-menu-button {
    z-index: 1200;
    display: flex; /* Display the button on smaller screens */
    cursor: pointer;
    background-color: transparent;
    border: none;
    gap: 8px;
    flex-direction: column;
  }
  .line {
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform-origin: left;
    transition: transform 0.5s ease;
  }
  .list {
    display: none; /* Hide the default list on small screens */
  }

  .mobile-menu {
    z-index: 1200;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--black-tr);
    padding: 20px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s ease forwards;
  }

  .listo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .listo li {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
  }
  .listo a {
    font-size: 2rem;
  }
  .listo li a{
    font-family: "ALK Sanet", sans-serif;
  }
}
@media only screen and (min-width: 770px) and (max-width: 1024px) {
  .lang{
    display: none;
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Ensure the button is on the right */
  }
  nav {
    gap: 60%;
  }
  .mobile-menu-button {
    z-index: 1200;
    display: flex; /* Display the button on smaller screens */
    cursor: pointer;
    background-color: transparent;
    border: none;
    gap: 8px;
    flex-direction: column;
  }
  .line {
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform-origin: left;
    transition: transform 0.5s ease;
  }
  .list {
    display: none; /* Hide the default list on small screens */
  }

  .mobile-menu {
    z-index: 1200;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--black-tr);
    padding: 20px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s ease forwards;
  }

  .listo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .listo li {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
  }
  .listo a {
    font-size: 2rem;
  }
  .listo li a{
    font-family: "ALK Sanet", sans-serif;
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .lang{
    display: none;
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Ensure the button is on the right */
  }
  nav {
    gap: 60%;
  }
  .mobile-menu-button {
    z-index: 1200;
    display: flex; /* Display the button on smaller screens */
    cursor: pointer;
    background-color: transparent;
    border: none;
    gap: 8px;
    flex-direction: column;
  }
  .line {
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform-origin: left;
    transition: transform 0.5s ease;
  }
  .list {
    display: none; /* Hide the default list on small screens */
  }

  .mobile-menu {
    z-index: 1200;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--black-tr);
    padding: 20px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s ease forwards;
  }

  .listo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .listo li {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
  }
  .listo a {
    font-size: 2rem;
  }
  .listo li a{
    font-family: "ALK Sanet", sans-serif;
  }
}

.edit{
  width: 30px;
  i{
    font-size: 20px;
  }
}