<footer>
    <ul class="l1">
      <i class="fa-solid fa-phone"></i>
      <div class="number">
        <li><a href="tel:+995595044111">+995 595 044 111</a></li>
        <li><a href="tel:+995551351111">+995 551 351 111</a></li>
      </div>
    </ul>
    <div class="logo">
      <a href="#top"><img src="assets/pics/SVG/tetri logo.svg" alt="logo" /></a>
    </div>
    <ul class="l2">
      <li><i class="fa-solid fa-envelope"></i> <a href="mailto:infoakhalisakhli@gmail.com">info&commat;akhalisakhli.com</a></li>
      <li><i class="fa-solid fa-location-dot"></i><a target="_blank" href= "https://www.google.com/maps/place/4%2F6%2F8%2F10+%E1%83%A1%E1%83%98%E1%83%9B%E1%83%9D%E1%83%9C+%E1%83%A9%E1%83%98%E1%83%A5%E1%83%9D%E1%83%95%E1%83%90%E1%83%9C%E1%83%98%E1%83%A1+%E1%83%A5%E1%83%A3%E1%83%A9%E1%83%90,+%E1%83%97%E1%83%91%E1%83%98%E1%83%9A%E1%83%98%E1%83%A1%E1%83%98/@41.7151511,44.7743724,17z/data=!3m1!4b1!4m6!3m5!1s0x4044732bbab1e52b:0x9f4813344b06734e!8m2!3d41.7151471!4d44.7769473!16s%2Fg%2F11_pq20wv?entry=ttu">
        {{ languagecheck ? 'სიმონ ჩიქოვანის ქუჩა N4 ': 'Simon Chikovani Street N4' }} </a></li>
    </ul>
  </footer>
  <div class="rights">
    
    <a  style="text-decoration: none;" shref="/privacy">{{ languagecheck ? '© ახალი სახლი. ყველა უფლება დაცულია' : 'New House. all rights reserved' }}</a>
  </div>