<div id="contactForm" *ngIf="sharedService.showContactForm">
  <div class="hedtxt">
    <h2 class="translate mobilehead">
      მოითხოვეთ ზარი
    </h2>
  </div>
  <h2 class="translate mobilehead">ჩვენ მალე დაგიკავშირდებით</h2>
  
  <form  #contactForm="ngForm" (ngSubmit)="submitForm(contactForm)">
    <div>
    <input
      style="color: white"
      class="translate inputinput"
      type="text"
      id="name"
      name="name"
      [(ngModel)]="clientName"
      (ngModelChange)="onInputChange()"
      placeholder="სახელი, გვარი"
      required
    />
  </div>
    <div >
      <img class="countryimg" [src]="selectedCountryImage" alt="Selected Country Flag" *ngIf="selectedCountryImage" style="height: 30px; margin-right: 10px; margin-left: 15px;">
      <!-- <select class="form-select" id="phoone" name="phone" [(ngModel)]="selectedCountry" (ngModelChange)="onCountryChange()">
        <option *ngFor="let country of countryList" [value]="country.code" > {{country.code}}  {{country.name}}</option>
      </select> -->
      <input
        style="color: white; flex-grow: 1;margin-right: 15px;"
        class="translate inputinput" 
        type="tel"
        id="phone"
        name="phone"
        [(ngModel)]="clienPhoneNumber"
        (ngModelChange)="onInputChange()"
        placeholder="ტელეფონი"
        required
      />
    </div>
    <div>
    <input
      style="color: white"
      class="translate inputinput"
      type="email"
      id="email"
      name="email"
      [(ngModel)]="clienEmail"
      (ngModelChange)="onInputChange()"
      placeholder="ელ-ფოსტა"
      required

    />
  </div>
  <div>
    <textarea
      style="color: white"
      class="translate inputinput"
      id="message"
      name="message"
      [(ngModel)]="clientMessage"
      (ngModelChange)="onInputChange()"
      required
      placeholder="შეტყობინება"
    ></textarea>
  </div>
    <button 
    class="formBtn"
      id="button"
      type="submit"
    >
      გაგზავნა
    </button>
  </form>
      <button class="formBtn" (click)="closeContactForm()">გათიშვა</button>


  </div>
  