  <div class="about" *ngIf="languagecheck">
    <div class="abcompany"  *ngFor="let service of service">
    <div class="majorc black">
        <div class="forpatternB">

          <div class="content">
            <h1 data-aos="fade-right " >{{service.MissionName}}</h1>
            <p class="border" data-aos="fade-right">{{service.MissionDescription }}
              </p>
          </div>
          <hr width="1" size="maximum"  />
            <div class="content">
              <h1 data-aos="fade-right upper">{{ service.VisionName}}</h1>
              <p class="border" data-aos="fade-right">{{ service.VisionDescription}}
                </p>
            </div>
        
        </div>
      </div>
      <div class="majorc white">
        <div class="forpatternW">
          <h1 class="upper" style="text-align: center; margin-bottom: 50px; padding-top: 20px;"> {{service.ValueName }}</h1>

          <div class="forpatternB" style="text-align: center;">
            <div class="content" style="border-color: black; margin: 0;" >
              <h2 data-aos="fade-right " class="upper" style="margin-bottom: 10px;">{{ service.Name1}}</h2>
            <p class="border" data-aos="fade-left" style="color: black;  padding: 0;" class="pos1">  {{ service.Description1}}</p>

   
            </div>
         
              <div class="content" style="border-color: black; margin: 0;">
                <h2 data-aos="fade-right " class="upper" style="margin-bottom: 10px;">{{ service.Name2}}</h2>
                <p class="border" data-aos="fade-left" style="color: black;  padding: 0;" class="pos2">{{ service.Description2}} </p>

              </div>
              <div class="content" style="border: none; margin: 0;">
                <h2 data-aos="fade-right " class="upper" style="margin-bottom: 10px;">{{ service.Name3}}</h2>
                <p class="border" data-aos="fade-left" style="color: black; padding: 0;" class="pos3"> {{ service.Description3}}</p>

              </div>
          
          </div>
          <div class="moreCont">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about" *ngIf="!languagecheck">
    <div class="abcompany"  *ngFor="let service of service">
    <div class="majorc black">
        <div class="forpatternB">

          <div class="content">
            <h1 data-aos="fade-right " >{{service.MissionNameEn}}</h1>
            <p class="border" data-aos="fade-right">{{service.MissionDescriptionEn }}
              </p>
          </div>
          <hr width="1" size="maximum"  />
            <div class="content">
              <h1 data-aos="fade-right upper">{{ service.VisionNameEn}}</h1>
              <p class="border" data-aos="fade-right">{{ service.VisionDescriptionEn}}
                </p>
            </div>
        
        </div>
      </div>
      <div class="majorc white">
        <div class="forpatternW">
          <h1 class="upper" style="text-align: center; margin-bottom: 50px; padding-top: 20px;"> {{service.ValueNameEn }}</h1>

          <div class="forpatternB" style="text-align: center;">
            <div class="content" style="border-color: black; margin: 0;" >
              <h2 data-aos="fade-right " class="upper" style="margin-bottom: 10px;">{{ service.Name1En}}</h2>
            <p class="border" data-aos="fade-left" style="color: black;  padding: 0;" class="pos1">  {{ service.Description1En}}</p>

   
            </div>
         
              <div class="content" style="border-color: black; margin: 0;">
                <h2 data-aos="fade-right " class="upper" style="margin-bottom: 10px;">{{ service.Name2En}}</h2>
                <p class="border" data-aos="fade-left" style="color: black;  padding: 0;" class="pos2">{{ service.Description2En}} </p>

              </div>
              <div class="content" style="border: none; margin: 0;">
                <h2 data-aos="fade-right " class="upper" style="margin-bottom: 10px;">{{ service.Name3En}}</h2>
                <p class="border" data-aos="fade-left" style="color: black; padding: 0;" class="pos3"> {{ service.Description3En}}</p>

              </div>
          
          </div>
          <div class="moreCont">
          </div>
        </div>
      </div>
    </div>
  </div>