  <div class="about">
    <div class="abcompany">
      <div class="majorc">
        <div class="forpatternB">
          <div class="content">
            <h1 data-aos="fade-right">მისია, ხედვა, ფასეულობები</h1>
            <p data-aos="fade-right">სტაბილური და მდგრადი კომპანია, რომელიც მუდმივად ზრუნავს განვითარებაზე, ეცნობა ახალ საერთაშორისო ტექნოლოგიებსა და სტანდარტებს, ადაპტირებას უკეთებს ქართულ რეალობაში და მაქსიმალურად იყენებს: ადგილობრივ, ბიოდეგრადირებად, გადამუშავებად და ეკოლოგიურად სუფთა მასალებს.
              </p>
          </div>
          <div class="imgesB">
            <img data-aos="fade-up" class="sizeB1" src="assets/pics/web/chven shesaxeb/1.jpg" alt="">
            <img data-aos="fade-up" class="sizeB2" src="assets/pics/web/chven shesaxeb/2.jpg" alt="">
            <img data-aos="fade-up" class="sizeB3" src="assets/pics/web/chven shesaxeb/3.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="middlec">
        <div class="forpatternW">
          <div class="forcont">
            <p data-aos="fade-right">მომხმარებლებისთვის მაქსიმალური კომფორტის შექმნა, ადამიანის ცხოვრების ხარისხის გაუმჯობესება და ესთეტიურად მომხიბვლელი მომავლის შენება.</p>
          </div>
          <div class="imgesW">
            <img data-aos="fade-up" class="sizeW1" src="assets/pics/web/chven shesaxeb/4.jpg" alt="">
            <img data-aos="fade-up" class="sizeW2" src="assets/pics/web/chven shesaxeb/5.jpg" alt="">
            <img data-aos="fade-up" class="sizeW3" src="assets/pics/web/chven shesaxeb/6.jpg" alt="">
          </div>
          <div class="moreCont">
            <p data-aos="fade-left" class="pos1">სამართლიანობა - გამჭვირვალე და თანასწორი ურთიერთობა მომხმარებლებთან, პარტნიორებთან და თანამშრომლებთან.</p>
            <p data-aos="fade-left" class="pos2">გუნდურობა - თანამშრომლებისა  და სერვისების მუდმივად განვითარება.</p>
            <p data-aos="fade-left" class="pos3">ხარისხი -  გარემოზე ზემოქმედების მინიმუმამდე შემცირება,  ეკოლოგიურად უსაფრთხო გადაწყვეტილებების მიღება, ენერგოეფექტური მშენებლობის  წარმოება და პოპულარიზაცია.</p>
          </div>
        </div>
      </div>
    </div>
  </div>