

.contain {
  padding: 130px 0;
  width: 100%;
  height: 100%;
}
.upper{
  font-family: "ALK Sanet", sans-serif;
}
//article
.about {
  overflow: hidden;
  width: 100%;
  .abcompany {
    width: 100%;
    .majorc {
      margin-top: 40px;
      height: 400px;
      width: 100%;


      .forpatternB {
        width: 100%;
        height: 100%;

        object-fit: cover;
        display: flex;
        .content {
          margin: 30px;
          width: 40%;
          padding: 0 40px;
          border-right: 2px solid white;
          h1 {
            font-size: clamp(1rem,2vw,2rem);
            font-weight: 100;
            letter-spacing: 2px;
            text-align: center;
            padding: 0;
            margin-bottom: 30px;
            text-wrap: nowrap;
            color: white;
              font-family: "ALK Sanet", sans-serif;
          }
          p {
            font-weight: 100;
            font-size: clamp(0.7rem, 1.5vw, 1rem);
            line-height: 1.5;
            text-align: justify;
            padding: 0 20px;
            color: white;
              font-family: "BPG Banner ExtraSquare", sans-serif;
          }
        }
        .imgesB {
          position: relative;
          width: 60%;
          img {
            position: absolute;
            border: 7px solid white;
            object-fit: cover;
          }
          .sizeB1 {
            z-index: 998;
            transform: translateY(-40px);
            left: 400px;
            width: 250px;
            height: 180px;
          }
          .sizeB2 {
            z-index: 999;
            top: 8%;
            left: 30px;
            height: 200px;
            width: 400px;
          }
          .sizeB3 {
            z-index: 998;
            bottom: 0;
            transform: translateY(50px);
            left: 140px;
            height: 240px;
            width: 400px;
          }
        }
      }
    }

  }
}

.black{
  background-image: url(../../assets/pics/SVG/backPatern.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
.white{
  background-image: url(../../assets/pics/SVG/pattern.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
p{
  font-family: Arial, sans-serif !important; 
  font-size: 1rem !important;
  line-height: 1.5 !important;
}
.shortcut {
  padding-top: 10px;
  width: 90%;
  position: relative;
  margin-left: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  bottom: 20px;
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      background-color: var(--black-v5);
      border-radius: 5px;
      padding: 5px 10px;
      font-size: clamp(0.6rem, 1.2vw, 1rem);
      text-wrap: nowrap;
      transition: 0.2s;
      &:lang(ka) {
        font-family: "BPG Banner ExtraSquare", sans-serif;
      }
      &:hover {
        padding: 9px 10px;
      }
    }
  }
}



@media only screen and (max-width: 771px) {
  .about {
    .abcompany {
      .majorc {
        background-size: 400%;
        .forpatternB{

        }


      .middlec {
        background-size: 400%;
        .forpatternB{
          

        }


      }
    }
  }
}
}

