<app-header></app-header>
<div class="contain">
  <ul class="shortcut" >
    <li><a [ngClass]="{ 'active-filter': activeFilter === '/about/aboutCompany' }" [routerLink]="['/about/aboutCompany']">{{ isGeorgian ? 'კომპანიის შესახებ' : 'About Company' }}</a></li>
    <li><a [ngClass]="{ 'active-filter': activeFilter === '/about/mxf' }" [routerLink]="['/about/mxf']">{{ isGeorgian ? 'მისია, ხედვა, ფასეულობები' : 'Mission, Vision, Values' }}</a></li>
    <li><a [ngClass]="{ 'active-filter': activeFilter === '/about/team' }" [routerLink]="['/about/team']">{{ isGeorgian ? 'ჩვენი გუნდი' : 'Our Team' }}</a></li>
    <li><a [ngClass]="{ 'active-filter': activeFilter === '/about/partners' }" [routerLink]="['/about/partners']">{{ isGeorgian ? 'პარტნიორები' : 'Partners' }}</a></li>
  </ul>
  <router-outlet></router-outlet>
  <app-float-contact></app-float-contact>
</div>
<app-footer></app-footer>
