<section class="gundi">
    <div class="tMshromlebi" *ngFor="let gundi of gundiList">
      <div class="backMshromlebi">
        <div class="portret">
          <input type="file" accept="image/*" [src]="gundi.img">
        </div>
        <div class="txt">
          <input type="text" class="saxel" [value]="gundi.name">
          <input type="text" class="gvari" [value]="gundi.surname">
          <input type="text" class="pozicia" [value]="gundi.position">
        </div>
      </div>
    </div>
  </section>
