<div class="forAlign">
  <app-carusel-pic-remonti class="compo"></app-carusel-pic-remonti>
s
  <article>
    <h1>{{ isGeorgian ? 'რემონტი' : 'Renovation' }}</h1>
    <div class="txtcontain">
      <p *ngFor="let remontiItem of remontiList">
        {{ isGeorgian ? remontiItem.pcont11 : remontiItem.pcont11EN }}
      </p>
      <ul>
        <ng-container *ngFor="let remontiItem of remontiList">
          <li *ngFor="let item of isGeorgian ? remontiItem.pcontli : remontiItem.pcontliEN">{{ item }}</li>
        </ng-container>
      </ul>
    </div>
  </article>
</div>
