<div class="slider-container">
    <div class="slider-item" *ngFor="let image of images; let i = index"  
        [ngClass]="{
            'selected': i === selectedPicIndex,
            'previus': i === selectedPicIndex - 1,
            'next': i === selectedPicIndex + 1,
            'hideLeft': i < selectedPicIndex - 1,
            'hideRight': i > selectedPicIndex + 1,
        }"
    >
        <img [src]="image.imgSrc" [alt]="image.imgAlt" (click)="toggleFullScreen(image.imgSrc)" class="slider-image" style="max-width:100%;cursor:pointer">
    </div>
</div>
<div class="fullscreen-image" *ngIf="isFullScreen && fullscreenImage" (click)="toggleFullScreen(fullscreenImage)">
    <img [src]="fullscreenImage" [alt]="fullscreenImage">
</div>
