
.shortcut {
  justify-content: center;
  margin: auto;
  margin-bottom: 40px;
  padding-top: 120px;
  width: 90%;
  position: relative;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  
  li {
    list-style: none;
    .active-filter {
      color: white;
      background-color: black;
      border: 1px solid black;
    }
    
    a {
      color: black;
      background-color: white;
      border: 1px solid black;
      text-decoration: none;

      border-radius: 3px;
      padding: 5px 10px;
      font-size: clamp(0.6rem, 1.2vw, 1rem);
      text-wrap: nowrap;
      transition: 0.2s;
      
      &:lang(ka) {
        font-family: "ALK Sanet", sans-serif;

      }
      
      
      &:hover {
        color: white;
        background-color:  rgb(20 20 20);
      }
    }
    
  }
}