
.shortcut {
  justify-content: center;
  margin: auto;
  margin-bottom: 40px;
  padding-top: 120px;
  width: 90%;
  position: relative;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  
  li {
    list-style: none;
    .active-filter {
      color: black;
      background-color: white;
      border: 1px solid black;
    }
    
    a {
      color: black;
      background-color: white;
      border: 1px solid black;
      text-decoration: none;

      border-radius: 3px;
      padding: 5px 10px;
      font-size: clamp(0.6rem, 1.2vw, 1rem);
      text-wrap: nowrap;
      transition: 0.2s;
      
      &:lang(ka) {
        font-family: "ALK Sanet", sans-serif;

      }

      
      
      &:hover {
        color: white;
        background-color:  rgb(20 20 20);
      }
    }
    
  }
}
.upper{
  font-family: "ALK Sanet", sans-serif;

}
.lowtext{
  font-family: Arial, sans-serif !important; 
  font-size: 1rem !important;
  line-height: 1.5 !important;
}
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Merriweather");

body {
  font-family: "Inconsolata", monospace;
  margin: 0;
}

.long-title {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

button {
  cursor: pointer;
}

#portfolio {
  justify-content: center;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap; 
  background: url(../../assets/pics/SVG/pattern.svg);
  background-attachment: fixed;
  background-size: 100%;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project {
  
  width: 320px;
  height: 180px;
  margin: 10px;
  position: relative;
  background: url(../../assets/pics/SVG/backPatern.svg);
  background-attachment: fixed;
  background-size: 100%;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }
  .lowtext{
    font-family: Arial, sans-serif;
  }
  p,
  .grid__title {
    color: white;
    position: absolute;
    width: 90%;
    text-align: center;
    white-space: normal;
    z-index: 3;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }

  p {
    top: 10px; 
    letter-spacing: 2px;
  }

  .grid__title {
    bottom: 10px; 
    font-weight: 100;
    font-size: 0.8em;
    color: white;
    letter-spacing: 2px;
  }

  .grid__overlay {
    background: url(../../assets/pics/SVG/backPatern.svg);
    background-attachment: fixed;
    background-size: 300%;
    height: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transform: translateY(101%);
    transition: all 0.3s ease-in-out;

    button {
      background: none;
      outline: none;
      font-weight: 100;
      letter-spacing: 2px;
      border: 1px solid #ffffff;
      color: #ffffff;
      text-transform: uppercase;
      padding: 10px;

      &:hover {
        
        transition: all 0.3s ease-in-out;
        background: #ffffff;
        color: rgb(20 20 20);
        transform: scale(1.05);
        border: 1px solid rgb(20 20 20); 
      }
    }
  }

  &:hover {
    img {
      opacity: 1;
    }

    p,
    .grid__title {
      opacity: 1; 
    }

    .grid__overlay {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}


