<article>
  <div class="about">
    <div class="abcompany" *ngFor="let about of aboutCompanyList">
      <div class="majorc">
        <div class="forpatternB">
          <div class="content">
            <h1 data-aos="fade-right">{{ isGeorgian ? about.satauri : about.satauriEN }}</h1>
            <p data-aos="fade-right">{{ isGeorgian ? about.sataurisTxt : about.sataurisTxtEN }}</p>
          </div>
          <div class="imgesB">
            <img data-aos="fade-up" class="sizeB1" [src]="about.sec1Pic1" alt="">
            <img data-aos="fade-up" class="sizeB2" [src]="about.sec1Pic2" alt="">
            <img data-aos="fade-up" class="sizeB3" [src]="about.sec1Pic3" alt="">
          </div>
        </div>
      </div>
      <div class="middlec">
        <div class="forpatternW">
          <div class="forcont">
            <p data-aos="fade-right">{{ isGeorgian ? about.qveda : about.qvedaEN }}</p>
          </div>
          <div class="imgesW">
            <img data-aos="fade-up" class="sizeW1" [src]="about.sec2Pic1" alt="">
            <img data-aos="fade-up" class="sizeW2" [src]="about.sec2Pic2" alt="">
            <img data-aos="fade-up" class="sizeW3" [src]="about.sec2Pic3" alt="">
          </div>
          <div class="moreCont">
            <p data-aos="fade-left" class="pos1">{{ isGeorgian ? about.qveda1 : about.qveda1EN }}</p>
            <p data-aos="fade-left" class="pos2">{{ isGeorgian ? about.qveda2 : about.qveda2EN }}</p>
            <p data-aos="fade-left" class="pos3">{{ isGeorgian ? about.qveda3 : about.qveda3EN }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
