<article>
  <div class="about" *ngIf="isGeorgian">
    <div class="abcompany" *ngFor="let about of aboutCompanyList">
      <div class="majorc background">
        <div class="forpatternB">
          <div class="content">
            <h1 data-aos="fade-right">{{about.title_GEO }}</h1>
            <p data-aos="fade-right lowtext">{{ about.company_info_GEO}}</p>
          </div>
          <hr width="2" size="maximum" color="white" />
          <div class="imgesB ">
            <img data-aos="fade-up" class="sizeB1" [src]="" alt="">
            <img data-aos="fade-up" class="sizeB2" [src]="" alt="">
            <img data-aos="fade-up" class="sizeB3" [src]="" alt="">
          </div>
        </div>
      </div>
      <div class="majorc whitebackground" style="margin-top: 100px;">
        <div class="forpatternB">
          <div class="imgesB">
            <img data-aos="fade-up" class="sizeB1" [src]="" alt="">
            <img data-aos="fade-up" class="sizeB2" [src]="" alt="">
            <img data-aos="fade-up" class="sizeB3" [src]="" alt="">
          </div>
          <hr width="2" size="maximum"  color="black"/>
          <div class="content">
            <p data-aos="fade-right lowtext" style="color: black;">{{ about.company_info_1_GEO }}</p>

          </div>
        </div>
      </div>
      <div>
        <h1 style="color: white;">.</h1>
        <h1 style="color: white;">.</h1>

      </div>
    </div>
  </div>
  <div class="about" *ngIf="!isGeorgian">
    <div class="abcompany" *ngFor="let about of aboutCompanyList">
      <div class="majorc background">
        <div class="forpatternB">
          <div class="content">
            <h1 data-aos="fade-right">{{about.title_EN }}</h1>
            <p data-aos="fade-right lowtext">{{ about.company_info_EN}}</p>
          </div>
          <hr width="2" size="maximum" color="white" />
          <div class="imgesB ">
          <img data-aos="fade-up" class="sizeB1" [src]="'https://bk.akhalisakhli.com/api/v1/admin-panel/get-page-img/'+about.id+'1.jpg'" alt="service image" />
          <img data-aos="fade-up" class="sizeB2" [src]="'https://bk.akhalisakhli.com/api/v1/admin-panel/get-page-img/'+about.id+'2.jpg'" alt="service image" />
          <img data-aos="fade-up" class="sizeB3" [src]="'https://bk.akhalisakhli.com/api/v1/admin-panel/get-page-img/'+about.id+'3.jpg'" alt="service image" />

          </div>
        </div>
      </div>
      <div class="majorc whitebackground" style="margin-top: 100px;">
        <div class="forpatternB">
          <div class="imgesB">
          <img data-aos="fade-up" class="sizeB1" [src]="'https://bk.akhalisakhli.com/api/v1/admin-panel/get-page-img/'+about.id+'1.jpg'" alt="service image" />
          <img data-aos="fade-up" class="sizeB2" [src]="'https://bk.akhalisakhli.com/api/v1/admin-panel/get-page-img/'+about.id+'2.jpg'" alt="service image" />
          <img data-aos="fade-up" class="sizeB3" [src]="'https://bk.akhalisakhli.com/api/v1/admin-panel/get-page-img/'+about.id+'3.jpg'" alt="service image" />
          </div>
          <hr width="2" size="maximum"  color="black"/>
          <div class="content">
            <p data-aos="fade-right lowtext" style="color: black;">{{ about.company_info_1_EN }}</p>

          </div>
        </div>
      </div>
      <div>
        <h1 style="color: white;">.</h1>
        <h1 style="color: white;">.</h1>

      </div>
    </div>
  </div>
</article>
