<div class="loginbody">
  <div class="container">
    <div class="login-box">
      <h2>Login</h2>
      <form action="#">
        <div *ngIf="!isMFA && !PasswordRecovery  && !passwordreset">
          <div class="input-box">
            <input type="email" [(ngModel)]="email" name="email" required />
            <label>Email</label>
          </div>
          <div class="input-box">
            <input
              type="password"
              [(ngModel)]="password"
              name="password"
              required
            />
            <label>Password</label>
          </div>
          <div class="forgot-pass">
            <a (click)="passwordrecoveryrequest()">Forgot your password?</a>
          </div>
          
          <button type="button" class="btn" (click)="login()">Login</button>
        </div>
        <div class="input-box second" *ngIf="PasswordRecovery">
          <h3>Password Recovery</h3>
          <p>write your email</p>
          <form (ngSubmit)="passwordrecoverysend()">
            <div class="verifycode">
              <input
                type="text"
                id="verificationCode"
                name="verificationCode"
                [(ngModel)]="email"
                required
              />
            </div>
            <button class="btn" type="submit">Verify</button>
          </form>
        </div>
        <div *ngIf="passwordreset">
          <form (ngSubmit)="passwordReset()">
          <div class="input-box">
            <input type="email" [(ngModel)]="email" name="email" required />
            <label>Email</label>
          </div>
          <div class="input-box">
            <input
              type="password"
              [(ngModel)]="password"
              name="New Password"
              required
            />
            <label>New Password</label>
          </div>
          <div class="input-box">
            <input
              type="password"
              [(ngModel)]="checkpassword"
              name="New Password"
              required
            />
            <label> Confirm  Password</label>
          </div>
          <div class="input-box">
            <input
              type="text"
              [(ngModel)]="code"
              name="text"
              required
            />
            <label>code</label>
            
          </div>
          <button class="btn" type="submit">Verify</button>
        </form>
        </div>
      
        <div class="input-box second" *ngIf="isMFA">
          <h3>Two-Factor Authentication</h3>
          <form (ngSubmit)="verifyMFA()">
            <div class="verifycode">
              <label for="verificationCode"></label>
              <input
                type="text"
                id="verificationCode"
                name="verificationCode"
                [(ngModel)]="code"
                required
              />
            </div>
            <button class="btn" type="submit">Verify</button>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>
