<div class="forslider">
    <button (click)="showPrev()"><i class="fa-solid fa-chevron-left"></i></button>
    <section class="picCarusel">
        <app-slider [images]="slideimg"></app-slider>
    </section>
    <button (click)="showNext()"><i class="fa-solid fa-chevron-right"></i></button>
</div>

<div
class="fullscreen-image"
[ngClass]="{ show: isFullScreen && fullscreenImage }"
*ngIf="isFullScreen && fullscreenImage"
(click)="toggleFullScreen(fullscreenImage)"
>
<img [src]="fullscreenImage" [alt]="fullscreenImage" />
</div>