<div class="forAlign">
  <app-carusel-pic-mshenebloba class="compo"></app-carusel-pic-mshenebloba>

  <article>

    <h1>{{ isGeorgian ? 'მშენებლობა' : 'Construction' }}</h1>
    <div class="txtcontain">
      <p *ngFor="let msheneblobaItem of msheneblobaList">
        {{ isGeorgian ? msheneblobaItem.pcont11 : msheneblobaItem.pcont11EN }}
      </p>
      <ul>
        <ng-container *ngFor="let msheneblobaItem of msheneblobaList">
          <li *ngFor="let item of isGeorgian ? msheneblobaItem.pcontli : msheneblobaItem.pcontliEN">{{ item }}</li>
        </ng-container>
      </ul>
      <div class="parent-container">
        <a href="/projects" class="upper">  {{ isGeorgian ? 'ჩვენი ნამუშევრები' : 'Our Portfolio' }}</a>
      </div>

    </div>
  </article>
</div>
