
  <app-header ></app-header>
  <div class="background"></div>

  <main style="padding-top: 100px;">
    <div class="container">
      <div class="grid product">
        <div class="column-xs-12 column-md-7">
          <div class="product-gallery">
            <div  class="containervideo">
            <div id="youtube-container"></div>
            </div>
            <div class="product-image">
              <img *ngIf="!video" class="active" [src]="imgurl+product" (click)="toggleFullScreen(product)">
            </div>
            <ul class="image-list">
              <div [class.is-image]="isimage" class="carousel-container hide2">
                <div  [class.is-image]="moreimage" class="hidemobile">

                <button class="arrow left-arrow" (click)="moveCarousel(-3)"><i class="fa-solid fa-chevron-left"></i></button></div>
                <ul class="image-list">
                  
                  <li class="image-item" *ngFor="let image of visibleImages">
                    <img [src]="imgurl+image" (click)="changeImage(image)">
                  </li>
                </ul>
                <div  [class.is-image]="moreimage" class="hidemobile">

                <button class="arrow right-arrow" (click)="moveCarousel(3)"><i class="fa-solid fa-chevron-right"></i></button></div>
                   
                <div  [class.is-image2]="moreimage" class="hide">
                <button class="arrow left-arrow" (click)="moveCarousel(-1)"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="arrow right-arrow" (click)="moveCarousel(1)"><i class="fa-solid fa-chevron-right"></i></button></div>
              </div>
            </ul>
          </div>
        </div>
     
      
        <div class="column-xs-12 column-md-5">
          <h1 class="upper">{{languagecheck? project.title : project.titleEn}}</h1>
          <div class="description lowtext">
           <div [innerHTML]="languagecheck ? project.text: project.textEn"></div>
          </div>
          

          <div style="display: flex; justify-content: space-between;">
          <button id="contact" class="add-to-cart upper" (click)="toggleContactForm()">{{languagecheck ?'დაგვიკავშირდით':'Contact Us'}} </button>
            
            <button *ngIf="project.video" (click)="openVideo(project.video)" class="add-to-cart upper" >{{languagecheck ?'ვიდეოს ნახვა':'Show Video'}}</button>
          </div>

          <app-contactform *ngIf="sharedService.showContactForm"  [@fadeIn]></app-contactform>
        </div>
      </div>
    </div>
    <div class="fullscreen-image" [ngClass]="{ 'show': isFullScreen && fullscreenImage }" *ngIf="isFullScreen && fullscreenImage" (click)="toggleFullScreen(fullscreenImage)">
      <img [src]="imgurl+fullscreenImage" [alt]="fullscreenImage">
  </div>
  </main>
  <app-footer ></app-footer>
