
  <app-header ></app-header>
  <main style="padding-top: 100px;">
    <div class="container">
      <div class="grid second-nav">
        <div class="column-xs-12">
          <nav>
            <ol class="breadcrumb-list">
              <li class="breadcrumb-item upper" ><a href="#">მთავარი</a></li>
              <li class="breadcrumb-item upper"><a href="/projects">{{project.category}}</a></li>
              <li class="breadcrumb-item active upper">{{project.title}}</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="grid product">
        <div class="column-xs-12 column-md-7">
          <div class="product-gallery">
            <div class="product-image">
              <div id="youtube-container"></div>

              <img *ngIf="!video" class="active" [src]="product">
            </div>
            <ul class="image-list">
              <li class="image-item" *ngFor="let image of productlist">
                
                <img  [src]="image" (click)="changeImage(image)">
              </li>
            </ul>
          </div>
        </div>
     
      
        <div class="column-xs-12 column-md-5">
          <h1 class="upper">{{project.title}}</h1>
          <div class="description">
           <div [innerHTML]="project.text"></div>
          </div>
          

          <div style="display: flex; justify-content: space-between;">
          <button id="contact" class="add-to-cart upper" (click)="toggleContactForm()"> დაგვიკავშირდით</button>

            <button (click)="openVideo('TsmShfuoC7w')" class="add-to-cart upper" >ვიდეოს ნახვა</button>
          </div>

          <app-contactform *ngIf="sharedService.showContactForm"  [@fadeIn]></app-contactform>
        </div>
      </div>
    </div>
  </main>
  <app-footer ></app-footer>