<div class="floating">
    <ul>
      <li class="faceb">
        <a href="https://www.facebook.com/AkhaliSakhliCom?locale=ka_GE" target="_blank"
          ><i class="face fa-brands fa-facebook"></i
        ></a>
      </li>
      <li class="instag">
        <a href="https://www.instagram.com/akhalisakhli/" target="_blank"
          ><i class="insta fa-brands fa-instagram"></i
        ></a>
      </li>
      <li class="linke">
        <a href="https://www.linkedin.com/company/akhalisakhli" target="_blank"
          ><i class="link fa-brands fa-linkedin"></i
        ></a>
      </li>
      <li class="tikt">
        <a href="https://www.tiktok.com/@akhali.sakhli" target="_blank"><i class="tik fa-brands fa-tiktok"></i></a>
      </li>
    </ul>
  </div>
  <div class="floatingmess">
    <ul>
      <li class="phn">
        <a href="tel:+995595044111" target="_blank"><i class="fa-solid fa-phone phone"></i></a>
      </li>
      <li class="vbr">
      <a href="viber://call?number=+995595044111" target="_blank"
          ><i class="fa-brands fa-viber viber"></i
        ></a>
      </li>
      <li class="wtsp">
        <a href="https://api.whatsapp.com/send?phone=995595044111" target="_blank"
          ><i class="fa-brands fa-whatsapp watsapp"></i
        ></a>
      </li>
      <li class="msgr">
        <a href="" target="_blank"
          ><i class="fa-brands fa-facebook-messenger mes"></i
        ></a>
      </li>
    </ul>
  </div>