article {
    height: 100%;
    width: 100%;
    padding-top: 120px;
  }
  
  .partniorebi {
    background-color: var(--black-v4);
    position: relative;
    height: 400px;
    object-fit: cover;
    background-size: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .over{
    position: relative;
    background-image: url(../../../assets/pics/SVG/pattern.svg);
    object-fit: cover;
    height: 100%;
    background-size: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    display: flex;
  }
  .part {
    position: relative;
    overflow: hidden;
    height: 80%;
    width: 50%;
    display: flex;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .caru{
      height: 80%;
    }
    h1{
      color: white;
      font-weight: 100;
      font-size: 2rem;
      &:lang(ka){
        font-family: "ALK Sanet", sans-serif;
      }
    }
  }
  .saxeli {
    width: 40%;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 150px;
    }
    margin: 20px;
    height: 65%;
    border-right: 2px solid white;
  }
  .logoebi img {
    padding: 20px;
    width: 150px;
  }
  .contain{
    padding: 130px 0;
    width: 100%;
    height: 100%;
  }
  //article
  .about{
    overflow: hidden;
    width: 100%;
    .abcompany{
      width: 100%;
      .majorc{
        margin-top: 40px;
        height: 400px;
        width: 100%;
        background-color: var(--black-v4);
        .forpatternB{
          width: 100%;
          height: 100%;
          background-image: url(../../../assets/pics/SVG/pattern.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          object-fit: cover;
          display: flex;
          .content{
            margin: 30px;
            width: 40%;
            padding: 0 40px;
            border-right: 2px solid white;
            h1{
                font-size: clamp(1.5rem, 2.5vw, 4rem); 
              font-weight: 100;
              letter-spacing: 2px;
              text-align: end;
              padding:10px 20px;
              color: white;
              &:lang(ka){
                font-family: "ALK Sanet", sans-serif;
              }
            }
            p{ 
              font-weight: 100;
              font-size: clamp(0.7rem, 1.5vw, 1rem);
              line-height: 1.5;
              text-align: justify;
              padding:0 20px;
              color: white;
              &:lang(ka){
                font-family: "BPG Banner ExtraSquare", sans-serif;
              }
            }
          }
          .imgesB{
            position: relative;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            input{
                width: min-content;
                border: 5px solid orangered;
            }
          }
        }
      }
      .middlec{
        height: 400px;
        margin: 100px 0;
        width: 100%;
        .forpatternW{
          width: 100%;
          height: 100%;
          background-image: url(../../../assets/pics/SVG/pattern.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          object-fit: cover;
          display: flex;
          .forcont{
            height: 100%;
            width: 30%;
            p{
              line-height: 2;
              margin-left:90px;
              margin-top: 30px;
              text-align: justify;
              margin-right: 30px;
              &:lang(ka){
                font-family: "BPG Banner ExtraSquare", sans-serif;
              }
            }
          }
          .imgesW{
            position: relative;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            input{
                width: min-content;
                border: 5px solid orangered;
            }
          }
          .moreCont{
            width: 40%;
            p{
              margin-right:90px;
              margin-top: 30px;
              text-align: justify;
              &:lang(ka){
                font-family: "BPG Banner ExtraSquare", sans-serif;
              }
            }
            .pos1{
              margin-top: 50px;
              font-size: clamp(0.7rem, 2vw, 1rem);
            }
            .pos2{
              width: 75%;
              transform: translate(60px,90px);
              font-size: clamp(0.7rem, 2vw, 1rem);
            }
            .pos3{
              width: 100%;
              transform: translate(-90px, 150px);
              font-size: clamp(0.7rem, 2vw, 1rem);
            }
          }
        }
      }
    }
  }


.shortcut{
    padding-top: 130px;
    width:90%;
    position: relative;
    margin-left: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    bottom: 20px;
    li{
      list-style: none;
      a{
        text-decoration: none;
        color: white;
        background-color: var(--black-v5);
        border-radius: 10px;
        padding: 5px 10px;
        font-size: clamp(0.6rem, 1.2vw, 1rem);
        text-wrap: nowrap;
        transition: 0.2s;
        &:lang(ka){
          font-family: "BPG Banner ExtraSquare", sans-serif;
        }
        &:hover{
          padding: 9px  10px;
        }
      }
    }
  }
  .head{
    width: 100%;
  }
  .big{
    height: 300px;
  }
  .smalltxt{
    width: 100%;
    height: 50px;
  }

  @media only screen and (min-width: 1023px) and (max-width: 1400px) {
    .about {
      .abcompany {
        .majorc {
          .forpatternB {
            .imgesB {
              width: 80%;
              .sizeB1 {
                transform: scale(0.8);
              }
              .sizeB2 {
                transform: scale(0.8);
              }
              .sizeB3 {
                transform: scale(0.8);
              }
            }
            .content {
              p {
                font-size: clamp(0.8rem, 1.2vw, 1rem);
                line-height: 1.1;
                height: 300px;
              }
            }
          }
        }
        .middlec {
          .forpatternW {
            .forcont {
              p {
                font-size: clamp(1rem, 1.5vw, 1.2rem);
                line-height: 1.3;
              }
            }
            .imgesW {
              .sizeW1,
              .sizeW2,
              .sizeW3 {
                transform: scale(0.8);
              }
            }
            .moreCont {
              .pos1,
              .pos2,
              .pos3 {
                font-size: clamp(0.7rem, 1vw, 0.9rem);
                line-height: 1.1;
                width: 50%;
                margin-left: 25%;
                height: min-content;
              }
              .pos2 {
                margin-top: 0;
                width: 40%;
              }
              .pos3 {
                margin-top: 0;
                width: 70%;
              }
            }
          }
        }
      }
    }
  }
  
  @media only screen and (min-width: 770px) and (max-width: 1024px) {
    .about {
      .abcompany {
        .majorc {
          .forpatternB {
            .imgesB {
              width: 80%;
              .sizeB1 {
                transform: scale(0.7) translateX(-200px);
              }
              .sizeB2 {
                transform: scale(0.7) translateX(-100px);
              }
              .sizeB3 {
                transform: scale(0.7) translateX(-100px);
              }
            }
            .content {
              p {
                font-size: clamp(0.7rem, 1.2vw, 1rem);
                line-height: 1.1;
                transform: translateX(-50px);
                width: 110%;
                height: 300px;
              }
            }
          }
        }
        .middlec {
          .forpatternW {
            .forcont {
              p {
                font-size: clamp(0.8rem, 1.2vw, 1rem);
                line-height: 1.3;
              }
            }
            .imgesW {
              .sizeW1,
              .sizeW2,
              .sizeW3 {
                transform: scale(0.7);
                position: relative;
                transform: translate(0, 0);
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 30%;
              }
            }
            .moreCont {
              display: flex;
              justify-content: center;
              align-items: stretch;
              flex-direction: column;
              .pos1,
              .pos2,
              .pos3 {
                font-size: clamp(0.7rem, 1vw, 0.9rem);
                line-height: 1.1;
                width: 60%;
                height: 30%;
                margin-left: 50px;
                transform: translate(0, 0);
                height: min-content;
              }
            }
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 771px) {
    .about {
      .abcompany {
        .majorc {
          .forpatternB {
            .imgesB {
              width: 80%;
              .sizeB1 {
                transform: scale(0.7) translateX(-200px);
              }
              .sizeB2 {
                transform: scale(0.7) translateX(-100px);
              }
              .sizeB3 {
                transform: scale(0.7) translateX(-100px);
              }
            }
            .content {
              p {
                font-size: clamp(0.7rem, 1.2vw, 1rem);
                line-height: 1.1;
                transform: translateX(-50px);
                width: 110%;
                height: 300px;
              }
            }
          }
        }
        .middlec {
          .forpatternW {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .forcont {
              width: 100%;
              p {
                font-size: clamp(0.8rem, 1.2vw, 1rem);
                line-height: 1.3;
                width: 70%;
                text-align: justify;
              }
            }
            .imgesW {
              width: 80%;
              display: flex;
              justify-content: space-around;
              .sizeW1,
              .sizeW2,
              .sizeW3 {
                transform: scale(0.7);
                position: relative;
                transform: translate(0, 0);
                top: 0;
                left: 0;
                right: 0;
                width: 30%;
                height: 100%;
                border: none;
              }
            }
            .moreCont {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: stretch;
              flex-direction: column;
              .pos1,
              .pos2,
              .pos3 {
                font-size: clamp(0.7rem, 1vw, 0.9rem);
                line-height: 1.1;
                width: 80%;
                height: 30%;
                margin-left: 50px;
                transform: translate(0, 0);
                transform: translateX(20px);
                height: min-content;
              }
            }
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 588px) {
    .about {
      .abcompany {
        .majorc {
          .forpatternB {
            position: relative;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            transform: none;
            .imgesB {
              position: relative;
              box-sizing: border-box;
              width: 100%;
              height: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              bottom: 0;
              gap: 5px;
              padding: 10px 0;
              .sizeB1,.sizeB2 ,.sizeB3  {
                position: relative;
                transform: none;
                width: 30%;
                height: 100%;
                transform: translate(0, 0);
                left: 0;
                top: 0;
                border: none;
              }
            }
            .content {
              padding: 0;
              margin: 0;
              height: 50%;
              width: 100%;
              position: relative;
              top: 0;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              p {
                font-size: clamp(0.7rem, 1.2vw, 1rem);
                line-height: 1.1;
                position: relative;
                right: 0;
                margin-left: 80px;
                transform: translateX(-50px);
                width: 90%;
                height: 300px;
              }
            }
          }
        }
        .middlec{
          .forpatternW{
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .forcont{
              width: 100%;
              p{
                font-size: clamp(0.6rem, 1vw, 0.7rem);
                line-height: 1.3;
                width: 60%;
                transform: translateX(-30px);
                text-align: justify;
              }
            }
            .imgesW{
              width: 80%;
              height: 100px;
              display: flex;
              justify-content: space-around;
              .sizeW1,.sizeW2,.sizeW3{
                transform: scale(0.7);
                position: relative;
                transform: translate(0,0);
                top: 0;
                left: 0;
                right: 0;
                width: 30%;
                height: 100%;
                border: none;
              }
            }
            .moreCont{
              width: 100%;
              display: flex;
              justify-content: center;
              align-items:stretch;
              flex-direction: column;
              .pos1,.pos2,.pos3{
                
                font-size: clamp(0.7rem, 1vw, 0.9rem);
                line-height: 1.1;
                width: 60%;
                height: 30%;
                margin-left: 50px;
                transform: translate(0,0);
                transform: translateX(20px);
                height: min-content;
              }
            }
          }
        }
      }
      
    }
  }