article {
  padding: 20px;
}

.about {
  background: #2d2d2d;
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.abcompany {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.majorc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.forpatternB {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.content {
  flex: 1;
  background: #3a3a3a;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  text-align: center;
  color: wheat;
}

textarea, input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 10px;
  background: #555;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #ff4500;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #ff6347;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.update-button {
  background-color: #007bff;
}

.update-button:hover {
  background-color: #0056b3;
}

.imginput {
  flex: 1;
}

.imgesB {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
