
<article>
    <div class="about">
        <div class="abcompany" >
            <div class="majorc" *ngFor="let service of service" >
                <div class="forpatternB">
                    <div class="content">
                        <div class="text">
                            <h1 style="color: wheat;"> ქართული ვერსია</h1>
                            <input  class="title" type="text"      [(ngModel)]="service.MissionName"/>
                            <textarea  class="translate" rows="3"  [(ngModel)]="service.MissionDescription"></textarea>
                            <input  class="title" type="text"      [(ngModel)]="service.VisionName">
                            <textarea  class="translate" rows="3"  [(ngModel)]="service.VisionDescription"></textarea>
                            <input  class="title" type="text"    [(ngModel)]="service.ValueName">
                            <input  class="title" rows="3"    [(ngModel)]="service.Name1"> 
                            <textarea  class="translate" rows="3"  [(ngModel)]="service.Description1"></textarea>
                            <input  class="title" type="text"   [(ngModel)]="service.Name2">
                            <textarea  class="translate" rows="3"  [(ngModel)]="service.Description2"></textarea>
                            <input  class="title" type="text"    [(ngModel)]="service.Name3">
                            <textarea  class="translate" rows="3"  [(ngModel)]="service.Description3"></textarea>
                            <button   id="button" (click)="updateService(service)">განახლება</button>
                        </div>
                    </div>
                    <div class="content">
                        <div class="text">
                            <h1 style="color: wheat;"> English version</h1>
                            <input  class="title" type="text"      [(ngModel)]="service.MissionNameEn"/>
                            <textarea  class="translate" rows="3"  [(ngModel)]="service.MissionDescriptionEn"></textarea>
                            <input  class="title" type="text"      [(ngModel)]="service.VisionNameEn">
                            <textarea  class="translate" rows="3"  [(ngModel)]="service.VisionDescriptionEn"></textarea>
                            <input  class="title" type="text"    [(ngModel)]="service.ValueNameEn">
                            <input  class="title" type="text"    [(ngModel)]="service.Name1En">
                            <textarea  class="translate" rows="3"  [(ngModel)]="service.Description1En"></textarea>
                            <input  class="title" type="text"   [(ngModel)]="service.Name2En">
                            <textarea  class="translate" rows="3"  [(ngModel)]="service.Description2En"></textarea>
                            <input  class="title" type="text"    [(ngModel)]="service.Name3En">
                            <textarea  class="translate" rows="3"  [(ngModel)]="service.Description3En"></textarea>

                            <button   id="button" (click)="updateService(service)">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

