.outersec{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partniorebi {
    position: relative;
    height: 400px;
    object-fit: cover;
    background-size: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .over{
    position: relative;
    background-image: url(../../assets/pics/SVG/backPatern.svg);
    background-attachment: fixed;
    object-fit: cover;
    height: 100%;
    background-size: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    display: flex;
  }
  .part {
    position: relative;
    overflow: hidden;
    height: 80%;
    width: 50%;
    display: flex;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .caru{
      height: 80%;
    }
    h1{
      color: white;
      font-weight: 100;
      font-size: 2rem;

        font-family: "ALK Sanet", sans-serif;
    }
  }
  .saxeli {
    width: 40%;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 150px;
    }
    margin: 20px;
    height: 65%;
    border-right: 2px solid white;
  }
  .logoebi img {
    padding: 20px;
    width: 150px;
  }
  .contain{
    width: 100%;
    height: 100%;
  }

  .shortcut{
    padding-top: 130px;
    width:90%;
    position: relative;
    margin-left: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    bottom: 20px;
    li{
      list-style: none;
      a{
        text-decoration: none;
        color: white;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: clamp(0.6rem, 1.2vw, 1rem);
        text-wrap: nowrap;
        transition: 0.2s;
          font-family: "BPG Banner ExtraSquare", sans-serif;
        &:hover{
          padding: 9px  10px;
        }
      }
    }
  }


  
@media only screen and (min-width: 1023px) and (max-width: 1400px) {
  .partniorebi {
    position: relative;
    height: 400px;
    object-fit: cover;
    background-size: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    .over {
      position: relative;
      background-image: url(../../assets/pics/SVG/backPatern.svg);
      
      object-fit: cover;
      background-size: 100%;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin: 0 30px;
      display: flex;
      .saxeli {
        width: 30%;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 150px;
        }
        margin: 20px;
        height: 65%;
        border-right: 2px solid white;
      }
      .part {
        position: relative;
        overflow: hidden;
        height: 80%;
        width: 70%;
        display: flex;
        margin-right: 40px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .caru {
          height: 80%;
        }
        h1 {
          color: white;
          font-weight: 100;
          font-size: 2rem;
            font-family: "ALK Sanet", sans-serif;
        }
      }
    }
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .partniorebi {
    position: relative;
    height: 400px;
    object-fit: cover;
    background-size: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    .over {
      position: relative;
      background-image: url(../../assets/pics/SVG/backPatern.svg);
      object-fit: cover;
      background-size: 200%;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin: 0 30px;
      display: flex;
      .saxeli {
        width: 30%;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 150px;
        }
        margin: 20px;
        height: 65%;
        border-right: 2px solid white;
      }
      .part {
        position: relative;
        overflow: hidden;
        height: 80%;
        width: 70%;
        display: flex;
        margin-right: 40px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .caru {
          height: 80%;
        }
        h1 {
          color: white;
          font-weight: 100;
          font-size: 2rem;
            font-family: "ALK Sanet", sans-serif;
        }
      }
    }
  }
}

@media only screen and (max-width: 588px) {
  .partniorebi {
    position: relative;
    object-fit: cover;
    background-size: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    .over {
      display: flex;
      flex-direction: column;
      position: relative;
      background-image: url(../../assets/pics/SVG/backPatern.svg);
      object-fit: cover;
      background-size: 300%;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin: 0 30px;
      .saxeli {
        width: 80%;
        height: 30%;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 70px;
        }
        margin: 10px;
        height: 65%;
        border-right: none;
        border-bottom: 2px solid white;
      }
      .part {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 500px;
        display: flex;
        margin-right: 40px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .caru {
          height: 80%;
        }
        h1 {
          color: white;
          font-weight: 100;
          font-size: 2rem;
            font-family: "ALK Sanet", sans-serif;
          
        }
      }
    }
  }
}
