<app-header></app-header>

<div class="main">

    <div class="news" *ngFor="let item of getPaginatedNews()" >
        <div data-aos="fade-up" class="text">
            <h3>{{ languagecheck ? item.title : item.titleEN}}</h3>
            <p [innerHTML]="languagecheck ? item.content2  : item.contentEN2"></p>
            <div class="parent-container">
                <a (click)="viewMore(item)" class="upper">  {{ languagecheck ? 'იხილეთ ვრცლად ' : 'find more' }}</a>
              </div>
        </div>
        <img data-aos="fade-up" [src]="item.image" alt="" (click)="toggleFullScreen(item.image)">
    </div>
    
    <div class="pagination">
        <button *ngFor="let page of getPageNumbers()"
        (click)="onPageChange(page)"
        [class.selected]="page === currentPage">
        {{ page }}
    </button>
</div>

</div>
<app-footer></app-footer>

<div
class="fullscreen-image"
[ngClass]="{ show: isFullScreen && fullscreenImage }"
*ngIf="isFullScreen && fullscreenImage"
(click)="toggleFullScreen(fullscreenImage)"
>
<img [src]="fullscreenImage" alt="" />
