<article>
    <div class="about">
      <div class="abcompany">
        <div class="majorc">
          <div class="forpatternB">
            <div class="content">
              <h1 data-aos="fade-right">კომპანიის შესახებ</h1>
              <p data-aos="fade-right">კომპანია „ახალი სახლის“ დამფუძნებელი ილია ტყეშლაშვილი 2005 წლიდან მუშაობდა რამოდენიმე სამშენებლო კომპანიაში, გახლდათ აგურის ქარხნის მმართველი, ხელმძღვანელობდა ცემენტის ქარხანას და დეველოპერულ კომპანიაში იყო სამშენებლო პროექტების მენეჯერი.
                ილიას, საპროეტო-სამშენებლო კომპანია „ახალი სახლის“ დაარსების იდეა   2014 წელს გაუჩნდა. კომპანიის დაარსებიდანვე ძირითადი აქცენტი  მაღალკვალიფიციური და გამოცდილი კადრების შერჩევაზე გაკეთდა.
                </p>
            </div>
            <div class="imgesB">
              <img data-aos="fade-up" class="sizeB1" src="assets/pics/web/chven shesaxeb/1.jpg" alt="">
              <img data-aos="fade-up" class="sizeB2" src="assets/pics/web/chven shesaxeb/2.jpg" alt="">
              <img data-aos="fade-up" class="sizeB3" src="assets/pics/web/chven shesaxeb/3.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="middlec">
          <div class="forpatternW">
            <div class="forcont">
              <p data-aos="fade-right">დღეისათვის კომპანია  20 წელზე მეტი გამოცდილების მქონე არქიტექტორებს, მშენებლებსა და ვიწრო დარგის სპეციალისტებს აერთიანებს.  ინოვაციებსა და განვითარებაზე ორიენტირებული „ახალი სახლი“,  მისი გუნდის წევრებისთვის, უწყვეტი განვითარებისა და კვალიფიკაციის ამაღლების გარანტია.</p>
            </div>
            <div class="imgesW">
              <img data-aos="fade-up" class="sizeW1" src="assets/pics/web/chven shesaxeb/4.jpg" alt="">
              <img data-aos="fade-up" class="sizeW2" src="assets/pics/web/chven shesaxeb/5.jpg" alt="">
              <img data-aos="fade-up" class="sizeW3" src="assets/pics/web/chven shesaxeb/6.jpg" alt="">
            </div>
            <div class="moreCont">
              <p data-aos="fade-left" class="pos1">ჩვენ ვზრუნავთ დამკვეთების სურვილები ვაქციოთ რეალობად, მდგრადი განვითარების პრინციპების გათვალისწინებით შევქმნათ მათ გემოვნებაზე და ბიუჯეტზე მორგებული ფუნქციონალური პროექტები.</p>
              <p data-aos="fade-left" class="pos2">„ახალი სახლი“  მომხმარებლებისთვის უზრუნველყოფს  მაღალი ხარისხის სერვისს,  უნიკალურ არქიტექტორულ პროექტებს, გამორჩეულ დიზაინსა და ხარისხიან მშენებლობას.</p>
              <p data-aos="fade-left" class="pos3">9 წლიანი გამართული მენეჯმენტისა და კვალიფიციური გუნდის აქტიური მუშაობის შედეგად, „ახალმა სახლმა“ სამშენებლო სექტორში  ლიდერული პოზიცია დაიმკვიდრა და აგრძელებს ოპერირების არეალის გაზრდას.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>