<app-header-input></app-header-input>
<section class="sect">
  <ul>
    <li *ngFor="let service of serviceList; let even = even; let odd = odd">
      <a data-aos="fade-up" class="seccontain" id="sec1">
        <div class="text">
          <input style="color: white" class="translate" type="text" [value]="service.name" />
          <textarea style="color: white" class="translate" [(ngModel)]="service.description"></textarea>
        </div>
        <div class="imgtxt">
          <img class="imginside" [src]="service.photo" alt="pic" />
          <!-- Upload Button for Image -->
          <input class="imginput" type="file" accept="image/*" (change)="onImageUpload($event, service)">
        </div>
      </a>
    </li>
  </ul>
</section>

<section class="contact" id="myContact">
  <div data-aos="zoom-out-down" class="contContain">
    <div class="hedtxt">
      <h2 class="translate">
        <input style="color: white" class="translate" type="text" [value]="'მოითხოვეთ ზარი'" />
      </h2>
    </div>
    <h2 class="translate">
      <input style="color: white" class="translate" type="text" [value]="'ჩვენ მალე დაგიკავშირდებით'" />
    </h2>
    <form  #contactForm="ngForm" (ngSubmit)="submitForm(contactForm)">
      <input
        style="color: white"
        class="translate"
        type="text"
        id="name"
        name="name"
        ngModel
        placeholder="სახელი, გვარი"
        required
      />
      <div style="display: flex; width: 90%">
        <img class="countryimg" [src]="selectedCountryImage" alt="Selected Country Flag" *ngIf="selectedCountryImage">
        <select class="form-select" id="phoone" name="phone" [(ngModel)]="selectedCountry" (ngModelChange)="onCountryChange()">
          <option *ngFor="let country of countryList" [value]="country.code" > {{country.code}}  {{country.name}}</option>
        </select>
        <input
          style="color: white; flex-grow: 1; width: 80"
          class="translate"
          type="tel"
          id="phone"
          name="phone"
          ngModel
          placeholder="ტელეფონი"
          required
        />
      </div>
      <input
        style="color: white"
        class="translate"
        type="email"
        id="email"
        name="email"
        ngModel
        placeholder="ელ-ფოსტა"
      />
      <textarea
        style="color: white"
        class="translate"
        id="message"
        name="message"
        required
        placeholder="შეტყობინება"
      ></textarea>
      <button
        id="button"
        class="translate"
        type="submit"
        [disabled]="contactForm.invalid"
      >
        გაგზავნა
      </button>
    </form>
  </div>
</section>
