<section id="main-carousel" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <!-- <li *ngFor="let partniorebi of partniorebiList" class="splide__slide">
        <img [src]="partniorebi.image" [alt]="partniorebi.name"/>
      </li> -->
      <li class="splide__slide">
        <img src="../../assets/pics/partniorebi/Bank-of-Georgia white.png" loading="lazy"/>
      </li>
      <li class="splide__slide">
        <img src="../../assets/pics/partniorebi/bricorama.png" loading="lazy"/>
      </li>
      <li class="splide__slide">
        <img src="../../assets/pics/partniorebi/Demasi.png" loading="lazy" />
      </li>
      <li class="splide__slide">
        <img src="../../assets/pics/partniorebi/geometal.png"  loading="lazy"/>
      </li>
      <li class="splide__slide">
        <img src="../../assets/pics/partniorebi/gorgia-logo.png" loading="lazy" />
      </li>
      <li class="splide__slide">
        <img src="../../assets/pics/partniorebi/Ideal.png" loading="lazy" />
      </li>
      <li class="splide__slide">
        <img src="../../assets/pics/partniorebi/jaokeni.png"  loading="lazy"/>
      </li>
      <li class="splide__slide">
        <img src="../../assets/pics/partniorebi/Knauf_logo.png"  loading="lazy"/>
      </li>
      <li class="splide__slide">
        <img src="../../assets/pics/partniorebi/maxtermi.png" loading="lazy" />
      </li>
      <li class="splide__slide">
        <img src="../../assets/pics/partniorebi/TBC white.png" loading="lazy"/>
      </li>
      <li class="splide__slide">
        <img src="../../assets/pics/partniorebi/termoindustria copy.png"  loading="lazy"/>
      </li>
    </ul>
  </div>
</section>
