<ng-container *ngIf="slidevid.length > 0">
  <div class="slider-container">
    <div
      class="slider-item"
      *ngFor="let slide of slidevid; let i = index"
      [ngClass]="{
        'selected': i === selectedPicIndex,
        'previus': i === selectedPicIndex - 1,
        'next': i === selectedPicIndex + 1,
        'hideLeft': i < selectedPicIndex - 1,
        'hideRight': i > selectedPicIndex + 1,
      }"
    >
      <i class="fa-regular fa-circle-play"></i>
      <video (click)="toggleFullScree(slide.vidSrc)" class="slider-video">
        <source [src]="slide.vidSrc" type="video/mp4" />
      </video>
    </div>
  </div>
  <div
    class="fullscreen-video"
    *ngIf="isFullScreen && fullscreenVideo"
    (click)="toggleFullScreen(fullscreenVideo)"
  >
    <video controls class="fullscreen-video-element">
      <source [src]="fullscreenVideo" type="video/mp4" />
    </video>
  </div>
</ng-container>