<div class="outersec">
    <section class="partniorebi" id="partniorebiSection">
        <div class="over">
          <div data-aos="fade-up" data-aos-duration="3000" class="saxeli">
            <img src="../../assets/pics/SVG/white logo vertical.svg" alt="" />
          </div>
          <div data-aos="fade-up" data-aos-duration="3000" class="part">
            <h1>პარტნიორები</h1>
            <div class="caru">
              <app-carusel></app-carusel>
            </div>
          </div>
        </div>
      </section>
</div>