<div class="forAlign">
  <app-carusel-pic-landshaft class="compo"></app-carusel-pic-landshaft>

  <article>
    <h1>{{ isGeorgian ? 'ლანდშაფტის დიზაინი' : 'Landscape Design' }}</h1>
    <div class="txtcontain">
      <p *ngFor="let landshaftiItem of landshaftList">
        {{ isGeorgian ? landshaftiItem.pcont11 : landshaftiItem.pcont11EN }}
      </p>
      <ul>
        <ng-container *ngFor="let landshaftiItem of landshaftList">
          <li *ngFor="let item of isGeorgian ? landshaftiItem.pcontli : landshaftiItem.pcontliEN">{{ item }}</li>
        </ng-container>
      </ul>
  <div class="parent-container">
      <a href="/projects">  {{ isGeorgian ? 'ჩვენი ნამუშევრები' : 'see our projects' }}</a>
    </div>

    </div>
  </article>
</div>
