<!-- <div class="forAlign">
  <article>
    <h1>{{ isGeorgian ? 'პროექტირება' : 'Projecting' }}</h1>
    <div class="txtcontain">
      <p *ngFor="let proeqtirebaItem of proeqtirebaList">
        {{ isGeorgian ? proeqtirebaItem.pcont11 : proeqtirebaItem.pcont11EN }}
      </p>
      <ul>
        <ng-container *ngFor="let proeqtirebaItem of proeqtirebaList; let i = index">
          <li *ngFor="let item of isGeorgian ? proeqtirebaItem.pcontli : proeqtirebaItem.pcontliEN; let j = index"
            [ngClass]="{ hover: i === 7 && j === 7 }">
            {{ item }}
          </li>
        </ng-container>
      </ul>
      <div class="floatcont">
        <ul>
          <ng-container *ngFor="let proeqt of proeqtirebaList">
            <li class="floatlist" *ngFor="let item of isGeorgian ? proeqt.hoverList : proeqt.hoverListEN">{{ item }}</li>
          </ng-container>
        </ul>
      </div>
    </div>
  </article>
  <app-carusel-inside class="compo"></app-carusel-inside>
  <app-vidcarusel class="compovid"></app-vidcarusel>
</div> -->

<div class="forAlign">
  <app-carusel-inside class="compo"></app-carusel-inside>

  <article>
    <h1>{{ isGeorgian ? 'პროექტირება' : 'Projecting' }}</h1>
    <div class="txtcontain">
      <p *ngFor="let proeqtirebaItem of proeqtirebaList">
        {{ isGeorgian ? proeqtirebaItem.pcont11 : proeqtirebaItem.pcont11EN }}
      </p>
      <ul>
        <ng-container *ngFor="let proeqtirebaItem of proeqtirebaList">
          <li class="item" *ngFor="let item of isGeorgian ? proeqtirebaItem.pcontli : proeqtirebaItem.pcontliEN;">
            {{ item }}
            <ng-container *ngIf="item === 'Preparation of an architectural project;'">
              <ul>
                <li *ngFor="let hoverItem of proeqtirebaItem.hoverListEN">
                  {{ hoverItem }}
                </li>
              </ul>
            </ng-container>
            <ng-container *ngIf="item === 'არქიტექტურული პროექტის მომზადება;'">
              <ul>
                <li *ngFor="let hoverItem of proeqtirebaItem.hoverList">
                  {{ hoverItem }}
                </li>
              </ul>
            </ng-container>
          </li>
        </ng-container>
      </ul>
      <div class="parent-container">
        <a href="/projects">  {{ isGeorgian ? 'ჩვენი ნამუშევრები' : 'see our projects' }}</a>
      </div>

    </div>
  </article>
  <!-- <app-vidcarusel class="compovid"></app-vidcarusel> -->
</div>
