<app-header-input></app-header-input>

<style>
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19%;
  }

  .imginput {
    width: 100%;
  }
</style>

<section class="sect">

  <ul>
    <li style="margin-top: 80px;">
      <div class="seccontain" style="color: aliceblue;">
        <div class="imgesB line" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
          <div class="input-group">
            <label>პროექტირება</label>
            <input class="imginput" type="file" accept="image/*" (change)="onImageUpload($event, 'Home1.jpg')">
          </div>
          <div class="input-group">
            <label>მშენებლობა</label>
            <input class="imginput" type="file" accept="image/*" (change)="onImageUpload($event, 'Home2.jpg')">
          </div>
          <div class="input-group">
            <label>ინტერიერი დიზაინი</label>
            <input class="imginput" type="file" accept="image/*" (change)="onImageUpload($event, 'Home3.jpg')">
          </div>
          <div class="input-group">
            <label>რემონტი</label>
            <input class="imginput" type="file" accept="image/*" (change)="onImageUpload($event,'Home4.jpg')">
          </div>
          <div class="input-group">
            <label>ლანდშაპტის დიზაინი</label>
            <input class="imginput" type="file" accept="image/*" (change)="onImageUpload($event,'Home5.jpg')">

          </div>
        </div>
      </div>

    </li>
    <li *ngFor="let service of serviceList">
      <a data-aos="fade-up" class="seccontain">
        <div class="text">
          <h3> ქართული ვერსია</h3>
          <h5>
            სერვისის სახელი
          </h5>
          <input style="color: white; margin-bottom: 10px;" class="translate" type="text" name="georgian"
            [(ngModel)]="service.name" />
            <h5>
              სერვისის აღწერა
            </h5>
          <textarea style="color: white; margin-bottom: 10px;" class="translate"
            [(ngModel)]="service.description"></textarea>
            <h5>
              პრიორიტეტი
            </h5>
          <input style="color: white" class="translate" type="text" [(ngModel)]="service.priority">
        </div>
        <div class="text">
          <h3> ინგლისური ვერსია</h3>
          <h5>
            სერვისის სახელი
          </h5>
          <input style="color: white ; margin-bottom: 10px;" class="translate" type="text" name="English"
            [(ngModel)]="service.nameEn" />
            <h5>
              სერვისის აღწერა
            </h5>
          <textarea  class="translate" [(ngModel)]="service.descriptionEN"></textarea>
          <button (click)="updateService(service)" id="button">  Update</button>

        </div>
        <div class="imgtxt">
          <img class="imginside"
            [src]="imgurl+service.id+'.jpg'" alt="pic" />
          <input class="imginput" type="file" accept="image/*" (change)="onImageUpload($event, service.id+'.jpg')">
        </div>
      </a>
    </li>
  </ul>
</section>