.background {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../../../assets/pics/SVG/pattern.svg);
	background-size: 200%; /* Adjust as needed */
	z-index: -1; /* Ensure the background stays behind other content */
  }
.forpadding{
	padding-top: 120px;
}
main {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	max-width: 1280px;
	padding: 0 18px;
	box-sizing: border-box;
	display: flex;
	justify-content:center;	
}
section {
	padding-top: 120px;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	overflow: hidden;
}
article {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 2.5rem !important;
	font-family: "ALK Sanet", sans-serif !important;
	text-align: center;
	letter-spacing: 1.5px;
}
.h1-divider {
	background-color: #252525;
	margin-bottom: 37px;
}
article h3 {
	font-weight: 800;
	margin: 0;
	line-height: 27px;
}
section p {
	font-family: Arial, sans-serif !important; 
	font-size: 1rem !important;
	line-height: 1.5 !important;
	color: #252525;
	line-height: 25px;
	margin-bottom: 40px;
	text-align: justify;
}

section .intro {
	font-weight: 300;
}
article p {
	font-family: Arial, sans-serif !important; 
	font-size: 1rem !important;
	line-height: 1.5 !important;
	margin-top: 0;
	margin-bottom: 50px;
}
article h3,
section p {
	font-family: Arial, sans-serif !important; 
	font-size: 1rem !important;
	line-height: 1.5 !important;
}
.placeHolder_img {

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}


/*    Mobile    */

@media only screen and (min-width: 320px) {
    /* 320px */
	h1 {
		font-size: 42px;
		line-height: 44px;
	}
	.h1-divider {
		width: 222px;
		height: 19px;
	}


}





@media only screen and (min-width: 667px) {
    /* 667px */
	article p {
		column-count: 2;
		column-gap: 42px;
	}
	
}



/*Tablet*/

@media only screen and (min-width: 768px) {
    /* 768 */
	main {
		padding: 0 40px;
	}
	h1 {
		font-size: 53.1px;
		line-height: 0.98;
		letter-spacing: 1.1px;
		margin-bottom: 20px;
	}
	.h1-divider {
		width: 339px;
		height: 24px;
		margin-bottom: 53px;
	}
	article p {
		margin-bottom: 40px;
	}


}

/*    Desktop    */

@media only screen and (min-width: 1024px) {
    /* 1024 */
	section {
		width: 820px;
	}
	h1 {
		font-size: 66.4px;
		line-height: 0.95;
		letter-spacing: 1.4px;
		margin-bottom: 30px;
	}
	.h1-divider {
		width: 486px;
		margin-bottom: 38px;
	}

	
}

@media only screen and (min-width: 1140px) {
    /* 1140 */
	section {
		width: 1035px;
	}
	h1 {
		font-size: 72px;
		line-height: 0.98;
	}
	.h1-divider {
		width: 480px;
		margin-bottom: 45px;
	}

	
}


