<section id="main-carousel" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <div class="input-container" #inputContainer>
          <!-- Input fields will be appended here -->
          <input type="text" class="image-input" #imagePath>
          <button>Delete</button>
        </div>
      </ul>
    </div>
  </section>
  
  <button (click)="addImage(imagePath.value)">Add Image</button>
  <button (click)="submitImages()">Submit</button>
  
  <div class="image-container"></div>
  