<div class="forAlign">
  <app-carusel-pic-interier class="compo"></app-carusel-pic-interier>

  <article>
      <h1>{{ isGeorgian ? 'ინტერიერის დიზაინი' : 'Interior design' }}</h1>
      <div class="txtcontain">
          <p *ngFor="let interieriItem of interieriList">
              {{ isGeorgian ? interieriItem.pcont11 : interieriItem.pcont11EN }}
          </p>
          <ul>
              <ng-container *ngFor="let interieriItem of interieriList">
                  <ng-container *ngFor="let item of isGeorgian ? interieriItem.pcontli : interieriItem.pcontliEN">
                      <li>{{ item }}</li>
                  </ng-container>
              </ng-container>
          </ul>
          <div class="parent-container">
            <a href="/projects" class="upper">  {{ isGeorgian ? 'ჩვენი ნამუშევრები' : 'Our Portfolio' }}</a>
          </div>

      </div>
  </article>
</div>
